<div class="container text-center">
  <div class="row mb-4">
    <div class="col">
      <h1>CONTROL ACCESOS ASTIBOT</h1>
    </div>
  </div>
  <div class="row mb-4">
      <div class="col">
          <input type="file" (change)="leerFicheroExcel($event)">
      </div>
  </div>
  <div class="row mb-4">
    <div class="col-2">
      <label>Filtrar por mes</label>
        <select class="form-control" 
        [(ngModel)]="monthFilter" (ngModelChange)="filterMonths()">
          <option value="-1">Sin filtro</option>
          <option value="0">Enero</option>
          <option value="1">Febrero</option>
          <option value="2">Marzo</option>
          <option value="3">Abril</option>
          <option value="4">Mayo</option>
          <option value="5">Junio</option>
          <option value="6">Julio</option>
          <option value="7">Agosto</option>
          <option value="8">Septiembre</option>
          <option value="9">Octubre</option>
          <option value="10">Noviembre</option>
          <option value="11">Diciembre</option>
        </select>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>DN</th>
                  <th>UID</th>
                  <th>NAME</th>
                  <th>STATUS</th>
                  <th>ACTION</th>
                  <th>APB</th>
                  <th>JOBCODE</th>
                  <th>DATE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of fichajesFiltrados; let index = index">
                  <td>{{index}}</td>
                  <td>{{item.dn}}</td>
                  <td>{{item.uid}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.status}}</td>
                  <td>{{item.action}}</td>
                  <td>{{item.apb}}</td>
                  <td>{{item.jobcode}}</td>
                  <td>{{item.date | date:'medium':'UTC'}}</td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>