<div class="container text-center">
  <div class="row mb-4">
    <div class="col">
      <h1>CONTROL ACCESOS ASTIBOT</h1>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <input type="file" (change)="leerFicheroExcel($event)">
    </div>
  </div>
  <div *ngIf="registros.length > 0" class="row mb-4">
    <div class="col-2">
      <label>Filtrar por empleado</label>
      <select class="form-control" [(ngModel)]="UIDFilter" (ngModelChange)="filter()">
        <option *ngFor="let registro of registros" [value]="registro.uid">
          {{registro.name}}
        </option>
      </select>
    </div>
    <div class="col-2">
      <label>Filtrar por mes</label>
      <select class="form-control filtro-meses" [(ngModel)]="monthFilter" (ngModelChange)="filter()">
        <option value="-1">TODOS LOS MESES</option>
        <option value="0">Enero</option>
        <option value="1">Febrero</option>
        <option value="2">Marzo</option>
        <option value="3">Abril</option>
        <option value="4">Mayo</option>
        <option value="5">Junio</option>
        <option value="6">Julio</option>
        <option value="7">Agosto</option>
        <option value="8">Septiembre</option>
        <option value="9">Octubre</option>
        <option value="10">Noviembre</option>
        <option value="11">Diciembre</option>
      </select>
    </div>
  </div>

  <div *ngIf="registros.length > 0 && registroActivo != null" class="row">
    <div class="col">
      <h1>{{registroActivo.name}}</h1>
      <table class="table">
        <thead>
          <tr>
            <th>MES</th>
            <th>DIA</th>
            <th>HORAS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registro of registrosFiltro"
            [class.red] = "getSumHoras(registro.horas) < 8"
            [class.green] = "getSumHoras(registro.horas) >= 8">
            <td>{{getMonthName(registro.dia.mes)}}</td>
            <td>{{registro.dia.dia}}</td>
            <td>
              <ul>
                <li *ngFor="let hora of registro.horas">
                    {{hora | date:'shortTime':'UTC'}}
                </li>
              </ul>
              <br>
              <p *ngIf="getSumHoras(registro.horas) != null else horasIncorrectas">
                Total: {{getSumHoras(registro.horas) | number:'1.0-2'}}
              </p>
              <ng-template #horasIncorrectas>
                  <p>Horas incorrectas</p>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>